/* LEVEL 1 – BASIC STYLING */

body {
    margin: 0;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

/* Headings & Paragraphs */
h1, h2, h3 {
    color: #ffcc00;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #ddd;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: black;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #ffcc00;
}

/* Header */
header {
    padding: 40px;
    text-align: center;
}

/* Table Styling */
table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 40%;
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* LEVEL 2 – INTERMEDIATE */

/* Box */
.box {
    width: 300px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    color: black;
}

/* Button Hover */
.btn {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: orange;
}

/* Round Image */
.card img {
    border-radius: 20%;
    width: 200px;
    height: 100px;
}

/* LEVEL 3 – LAYOUT */

/* Flexbox 2 Columns */
.flex-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card Design */
.card {
    background: blueviolet;
    color: black;
    width: 250px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    border-radius: 10px;
}

/* Video */
iframe {
    display: block;
    margin: 30px auto;
    width:320;
}

/* Footer */
footer {
    background: black;
    padding: 15px;
    text-align: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    
table {
        width: 90%;
    }

}
